body {
  width: 1600px;
  background-color: #ffffff;
  display: block;
  margin: 0;
  padding: 0;
  font-family: "Oleo Script", cursive;
  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;
}
a {
  text-decoration: none;
  color: black;
}
li {
  list-style: none;
}
.header {
  width: 1600px;
  height: 80px;
  display: inline-flex;
}

.logo {
  font-family: "Oleo Script", cursive;
  font-size: 26px;
  font-weight: 700;
  font-family: "Raleway";
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  color: black;
  margin-top: 25px;
  margin-left: 215px;
  text-decoration: none;
}
.logo :focus {
  border: blue 1px solid;
}
.logo_color {
  font-family: "Releway", sans-serif;
  color: #2196f3;
}
.nav-header {
  width: 1600px;
  height: 80px;
}
.nav {
  display: inline;
}
.nav-list-gl {
  display: inline-flex;
  margin-left: 95px;
  margin-top: 30px;
}
.nav-list {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  padding-left: 50px;
}

.nav-list a:hover,
.nav-list a:active {
  color: #2196f3;
}
.contakt-mail,
.contakt-tel {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  color: #757575;
}
.contakt-mail .contakt-tel:focus {
  color: #2196f3;
}
.contakt-tel .contakt-mail:active {
  color: #2196f3;
}

.slider {
  width: 1600px;
  height: 600px;
  background-color: #2f303a;
}
.slider-text {
  font-family: "Roboto", sans-serif;
  font-size: 44px;
  font-weight: 900;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  padding-top: 200px;
}
.slider-button {
  width: 200px;
  height: 50px;
  margin-left: 700px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 700;
  align-items: center;
  color: #ffffff;
  font-style: normal;
  background-color: #2196f3;
}
.slider-button:hover,
.slider-button:active {
  background-color: #ffffff;
  color: #2196f3;
}
.table-lable {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #212121;
  text-transform: uppercase;
}
.table-text {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #757575;
}
.team {
  width: 1600px;

  background-color: #f5f4fa;
}
.prem-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  color: #212121;
}
.team-nav {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #212121;
}
.team-prod {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #757575;
}
.adres {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 14px;
}
.filter {
  display: inline;
  align-items: center;
}
.filter-slider {
  display: inline;
}
.filter-button {
  width: auto;
  height: 40px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  align-items: center;
  color: #212121;
  font-style: normal;
  background-color: #f5f4fa;
}
.filter-button:hover,
.filter-button:active {
  background-color: #2196f3;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
}
.section-navigate {
  margin-left: 215px;
  margin-top: 95px;
}
.section-box {
  width: 1170px;
  height: 1360px;
  display: block;
}
.section-list {
  width: 370px;
  height: 410px;
}
.section-labe {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  color: #212121;
}
.section-op {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #757575;
}
